In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%config InlineBackend.figure_format='retina'

In [2]:
dir_cat = "/home/hhg/Research/galaxyClassify/catalog/galaxyZoo/zoo2/"

### gz2_all_v2.csv

In [3]:
cat1 = pd.read_csv(dir_cat+'gz2_all_v2.csv')
cat1

        galaxyID  label_8  label_7  label_3
0         110939        0        0        0
1         187749        0        0        0
2         162781        0        0        0
3         154143        0        0        0
4          12450        0        0        0
...          ...      ...      ...      ...
155946    260790        7        6        2
155947    250189        7        6        2
155948    115591        7        6        2
155949    271627        7        6        2
155950     16705        7        6        2

[155951 rows x 4 columns]

In [4]:
cat1.groupby(['label_8']).size()

label_8
0    33898
1    39200
2     7414
3    16349
4    20407
5    30657
6     5925
7     2101
dtype: int64

In [5]:
cat1.groupby(['label_7']).size()

label_7
0    33898
1    39200
2     7414
3    16349
4    20407
5    30657
6     8026
dtype: int64

In [6]:
cat1.groupby(['label_3']).size()

label_3
0    80512
1    67413
2     8026
dtype: int64

### gz2_all_exIrr_v2.csv

In [7]:
cat2 = pd.read_csv(dir_cat+'gz2_all_exIrr_v2.csv')
cat2

        galaxyID  label_exIrr
0              5            0
1              6            5
2              9            0
3             13            2
4             14            5
...          ...          ...
150021    295291            3
150022    295292            1
150023    295294            4
150024    295296            2
150025    295305            5

[150026 rows x 2 columns]

In [8]:
cat2.groupby(['label_exIrr']).size()

label_exIrr
0    33898
1    39200
2     7414
3    16349
4    20407
5    30657
6     2101
dtype: int64